@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 30px;
}

div#wrap {
    position: relative;
    width: 650px;
    height: 1050px;

}
div#wrap>div{
    width: 100%;
    height: 45px;

}


div.firstBox{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
}

div.firstBox:not(:last-child){
  border-bottom: none;
}

div#wrap .inputBox {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    outline: 0;
}

div#wrap .inputBox::placeholder{
    font-size: 14px;
    font-weight: bold;
    color: black;
}

div#wrap #male{
    margin: 16px 0 0 15px;
}
div#wrap #female{
    margin: 16px 0 0 25px;
}

div#wrap #year{
    margin: 4px 0 0 15px;
    width: 80px;
    height: 35px;
}
div#wrap #month{
    margin: 4px;
    width: 80px;
    height: 35px;
}
div#wrap #day{
    margin: 4px;
    width: 80px;
    height: 35px;
}

div#wrap div:nth-child(8)>input, div#wrap div:nth-child(9)>input{
    width: 540px;

}


div#wrap #btn1 {
    margin: 5px;
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color: ;
    border: 1px solid #ccc;
    outline: 0;
}

div#wrap #btn2 {
    margin: 5px;
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color: ;
    border: 1px solid #ccc;
    outline: 0;
}

p#title{
    margin: 15px 10px;
    font-size: 15px;
    font-weight: bold;
}
iframe#readme{
    width: 648px;
    height: 185px;
     resize: none;
    font-size: 15px;
}

input#ageLimit{
    margin: 15px 5px;

}

span#red{
    font-weight: bold;
        color:#ad0b08;
}
#alert1{
    margin-left: 5px;
    display: inline-block;
    font-size: 12px;
    color: #aaa;
    font-weight: bold;
}

div#box1{
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 640px;
    height: 130px;
}
div#box2{
    height: 45px;
    border-bottom: 1px solid #ccc;
}

input#allAgree{
    margin: 15px 10px 0 25px;
}

div#box2 span{
    font-size: 15px;
    font-weight: bold;
}

div#chkbox{
    position: relative;
    line-height: 10px;
}

div#chkbox1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 70px;
    padding: 7px 0 0 40px;
}


div#chkbox2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 70px;
    padding: 7px 40px 0 0;
}

div#chkbox span{
    font-size: 13px;
    color: #3e3e3e;
    font-weight: bold;
}

input[type=checkbox]{
    width: 15px;
    height: 15px;
    margin: 10px;
}

button#agree{
    color: white;
    background-color: black;
    width: 230px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 0 210px;
    border: none;
}

div#chkbox button{
    background-color: #fafafa;
    border: 1px solid #000;
    font-size: 12px;

}
